/* Principal */

:root {
    --label-icon: url("https://cdn-icons-png.flaticon.com/128/5817/5817869.png");

    /* --bg-img: linear-gradient(100deg, #001214, #001f29); */
    --bg-img: linear-gradient(100deg, #575656, #062e3f);
}
  
.light-mode {
    --bg-img: linear-gradient(100deg, #d4f1ff, #ffffff);;
    --fonte-cor: #ffffff;
    --label-icon: url("https://cdn-icons-png.flaticon.com/128/6048/6048363.png");
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;

    /* background-image: linear-gradient(100deg, #001214, #001f29);
    color: white; */

    background: var(--bg-img);

    user-select: none; 
    transition: 0.5s linear;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mudar-tema {
    position: absolute;
    top: 1%;
    left: 1%;
    background-image: var(--label-icon); 
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 17px;
    cursor: pointer; 
}
  
#btn {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Novo Item */
.adicionar {
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    display: inline-flex;
}

.botao-adicionar {
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #01394c;
    color: white;
}


#novo-item {
    border: 2px solid;
    border-color: #01394c;
    font-size: 17px;
    width: 30rem;
    min-width: 5rem;
    height: 2rem;
    border-radius: 10px 0 0 10px;

    text-align: center;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    font-size: 15px;
}

/* Lista */

.lista {
    margin-bottom: 50px;
}

.lista-itens {
    margin: 0;
    padding-top: 0.5rem;
}

.item {
    border: solid 1px;
    list-style: none;
    padding: 0.6em;
    background-color: #01394c;
    color: white;
    border-radius: 30px;
    margin: 0 0 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 39rem;
}

.box {
    margin-top: auto;
    margin-bottom: auto;

    height: 25px;
    width: 20px;
    background-color: #eee;

    cursor: pointer;
}

.box:checked {
    accent-color: white;
    color: #01394c;
}

.botao-deletar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: white;
    border: none;
    background-color: #01394c;
}

.item-adicionado {
    margin-top: 5px;
    width: 85%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

[contenteditable] {
    outline: 0px solid transparent;
}

/* Rodape */
footer {
    position: fixed;
    bottom: 0;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    background-color:#01394c;
    /* background-image: linear-gradient(100deg, #575656, #062e3f); */
    /* background-image: linear-gradient(100deg, #001214, #001f29); */
    color: white;
}


.fa {
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    margin-left: 6rem;
  }
  
.fa:hover {
    opacity: 0.8;
}

.fa-linkedin {
    color: #3B5998;
}

.fa-github {
    color: white;
}

.fa-instagram {
    /* color: #125688; */
    color: #f09433;
}


@media screen and (max-width: 900px){
    .adicionar {
        max-width: 25rem;
    }
}

@media screen and (max-width: 650px){
    .adicionar {
        max-width: 15rem;
    }

    .item {
        max-width: 18rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        margin-top: 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 100px;
        width: 100%;
    
        background-color:mintcream;
    }

    .copyright {
        margin-bottom: 12px;
    }

    .fa {
        margin-left: 2rem;
      }
      
}